doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
      ul
        li home
        li services
        li about
        li classinfo
        li contact
    script
      include ../static/index.js